/* 
* {
  border: 1px solid #f00 !important;
} */
html,body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: 0px 10px;
}
header {
  position: relative;
}
nav {
  /* padding-bottom: 10px; */
}
.announcement {
  padding: 5px;
  background-color: #cd9997;
}
.hero-image {
  text-align: center;
  padding: 5px 0px;
  border-bottom: 1px solid gray;
  margin: 5px 0px 0px 0px;
}
.hero-image img {
  display: inline-block;
  width: 340px;
  height: 51px;
}
.main-nav {
  display: inline-block;
  margin: 10px 10px 0px 0px;
}
.main-nav li {
  display: inline-block;
  color: #212b36;
  padding: 10px 20px 9px 20px;
  font-size: 16px;
}
.search-box {
  display: inline-block;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  margin: 16px 0;
  vertical-align: top;
}
.search-box:focus {
  outline: none;
}
.my-account {
  display: inline-block;
  position: relative;
}
.search-icon,
.my-account,
.cart-icon {
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}
.right-icons {
  margin: 5px 20px 0px 0px;
  float: right;
}
.offer-announcement {
  padding: 10px 0;
  background: #cd9997;
  text-align: center;
  clear: right;
}
.offer-announcement a {
  color: #fff;
}
.my-account-wpr {
  display: none;
  position: absolute;
  width: 160px;
  left: -80px;
  background: #fff;
  border-bottom: 5px solid black;
  padding-right: 10px;
  z-index: 5;
  font-size: 15px;
}
.my-account:hover .my-account-wpr {
  display: block;
}
.my-account:hover .my-account-wpr ul li {
  list-style: none;
  margin: 0 6px;
  padding-bottom: 5px;
}
.cart-icon {
  position: relative;
}
.cart-count {
  display: inline-block;
  position: absolute;
  left: 7px;
  top: 4px;
}
nav a {
  text-decoration: none;
  color: #212b36;
  padding-bottom: 14px;
}
.menu-link {
  display: block;
  position: relative;
  border-bottom: 5px solid #fff;
}
.menu-link:hover {
  border-bottom: 5px solid black;
}
.menu-link-normal {
  margin-top: 5px;
  display: none;
  position: absolute;
  width: 240px;
  background: #fff;
  border-bottom: 5px solid black;
  border-bottom: 5px solid black;
  padding-right: 10px;
  top: 100%;
  left: 0;
  z-index: 3;
}
.menu-link:hover .menu-link-normal {
  display: block;
}
.menu-link-normal:hover{
  display: block;
}
.menu-link-normal ul {
  padding: 20px 5px;
}
.menu-link-normal li {
  list-style: none;
  display: block;
}
.menu-link-normal li a {
  color: rgba(33, 43, 54, 0.7);
}
.menu-link-normal li a:hover {
  color: #212b36;
}
.navigation-wrapper {
  position: relative;
}
.mega-menu-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  left: 0;
  margin-bottom: 5px solid black;
  z-index: 3;
  top: 100%;
}
.mega-menu-cols {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 1%;
  width: 22%;
}
.mega-menu-link:hover .mega-menu-wrapper {
  display: block;
}
.mega-menu-cols li {
  display: block;
}
.mega-menu-cols li {
  color: rgba(33, 43, 54, 0.7);
}
.mega-menu-cols li:hover {
  color: #212b36;
}

.mega-menu-cols h1 {
  text-align: left;
  font-size: 16px;
  color: #212b36;
  font-weight: normal;
  margin: 10px 20%;
}

.mega-menu-cols div {
  text-align: left;
  font-size: 16px;
  color: #212b36;
  font-weight: normal;
  margin: 10px 20%;
}
.mega-menu-cols div a {
  color: gray !important;
}
.mega-menu-cols div a:hover {
  color: blue !important;
}
.mega-menu-cols-link {
  /* display: inline-block; */
  text-decoration: none;
  color: black;
}
.mega-menu-cols-link:hover {
  color: red;
}
/*
  Mid bar section start

*/
.banner {
  position: relative;
}
.banner-content-wrapper {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  /* align-items: center; */
}
.banner-container img{
  max-width: 1309px;
}
.banner-content {
  width: 560px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  align-self: flex-end;
  margin-bottom: 20px;
}
.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-text h2 {
  color: #a98482;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: 20px;
}
.banner-text div {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: lighter;
}
.banner-text a {
  text-decoration: none;
  background-color: #bc7775;
  color: #fff;
  padding: 10px;
  margin: 25px;
}
.banner-text a:hover{
  background-color: #bc780b;
}
/*
  New Arrival Section Start

*/

.new-arrivals-list-item {
  float: left;
  position: relative;
  width: 22%;
  margin: 1%;
  /* max-height: 569px; */
}
.new-arrivals-list-item  img{
  /* width: 100%; */
}
.new-arrivals-list-item a {
  position: absolute;
  display: none;
  width: 90%;
  text-decoration: none;
  background-color: #bc7775;
  font-weight: 400;
  color: #fff;
  padding: 10px;
  margin: 10px;
  text-align: center;
  top: 73%;
  font-size: 20px;
}
.new-arrivals-list-item:hover a {
  display: block;
}
.new-arrivals-list-item div {
  display: inline-block;
  margin: 8px;
  color: #b0b0b0;
  font-weight: lighter;
  z-index: 2;
}
.new-arrivals-list-item > div:hover {
  color: #bc7775;
}
.new-arrivals-list-item img {
  height: 479px;
  transition: all .2s ease-in-out;
}
.new-arrivals-header {
  text-align: center;
  font-size: 30px;
  line-height: 1.4;
  color: #a98482;
  margin: 15px 0px;
}
@keyframes imgbob {
  from {
    background-size: 100%;
  }
  to {
    background-size: 101%;
  }
}
.new-arrivals-list-item img:hover {
  /* animation: imgbob 1s linear 0s 0.7 forwards; */
  transform: scale(1.1); 
}

/*
  What are you looking for section starts

*/
.what-are-you-looking {
  clear: left;
  background: linear-gradient(#ffe4e4 50%, #fff 50%);
}
.wayl-header {
  text-align: center;
  color: #a98482;
  font-size: 30px;
  line-height: 1.4;
  margin: 15px;
}
.wayl-flex-container {
  display: flex;
  flex-wrap: no-wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.wayl-flex-item-bg {
  background-image: url("./assets/wayl1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 200px;
  transition: all .2s ease-in-out;
}
.wayl-flex-item-bg:hover{
  transform: scale(1.1);
}
.wayl-flex-item {
  width: 20%;
  margin: 20px;
}

.wayl-flex-item a {
  background-color: #bc7775;
  font-weight: 400;
  color: #fff;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  width: 80%;
}
